---
- name: Install RPM packages
  dnf:
      name:
      - httpd
      - python3-mod_wsgi
      - fedora-messaging
      - gcc
      - git
      - poetry
      - python3-cryptography
      - python3-devel
      - python3-flask
      - python3-pip
      - python3-whitenoise
      - python3-backoff
      - python3-email-validator
      - python3-flask-mail
      - python3-flask-talisman
      - python3-flask-wtf
      - python3-jwt
      - python3-pyotp
      - python3-wtforms
      - python3-flask-babel
      - python3-babel
      - babel
      state: present

- name: Allow apache to see /srv
  sefcontext:
    target: "/srv(/.*)?"
    setype: httpd_sys_content_t

- name: Install Noggin with Pip
  pip:
    name:
      - noggin-aaa

- name: Install the bashrc
  copy:
    src: bashrc
    dest: /etc/profile.d/vagrant-noggin.sh
    mode: 0644
    owner: root
    group: root

- name: Install noggin.cfg
  template:
    src: noggin.cfg
    dest: /etc/noggin.cfg

- name: Copy wsgi
  copy:
    src: noggin.wsgi
    dest: /srv/noggin.wsgi
    mode: 0644
    owner: vagrant
    group: vagrant
  notify:
    - restart httpd

- name: compile the translations
  command:
    cmd: pybabel compile -d /usr/local/lib/python{{ ansible_local["python"]["py3"]["version"] }}/site-packages/noggin/translations
    creates: /usr/local/lib/python{{ ansible_local["python"]["py3"]["version"] }}/site-packages/noggin/translations/fr_FR/LC_MESSAGES/messages.mo

- name: Tune SELinux Policy
  seboolean:
    name: "{{ item }}"
    state: yes
    persistent: yes
  with_items:
    - httpd_can_network_connect
    - httpd_read_user_content
  notify:
    - restart httpd

- name: Copy configs for Apache
  copy:
    src: httpd.conf
    dest: /etc/httpd/conf.d/noggin.conf
  notify:
    - restart httpd

- name: Enable and restart Apache
  systemd:
    state: restarted
    name: httpd
    enabled: yes
    daemon_reload: yes
