[Unit]
Description=openidtest
After=network-online.target
Wants=network-online.target

[Service]
Environment=FLASK_APP=/home/vagrant/app.py
Environment=FLASK_DEBUG=1
User=root
WorkingDirectory=/home/vagrant
ExecStart=flask run -p 443 -h "0.0.0.0" --cert=/etc/pki/tls/certs/server.pem --key=/etc/pki/tls/private/server.key

[Install]
WantedBy=multi-user.target
