---
- name: Copy the disk resize script
  copy:
    src: resize-disk.sh
    dest: /root/resize-disk.sh
    mode: "755"

- name: Resize the disk
  command: /root/resize-disk.sh

- name: Install common packages
  dnf:
    name:
    - bash-completion
    - tmux
    - vim-enhanced
    - git
    - python3
    - fedora-messaging
    - git
    state: present

- name: Determine Python version
  command:
    argv:
      - python3
      - -c
      - "from sys import version_info as vi; print(f'{vi[0]}.{vi[1]}')"
  register: _python3_version_result
  changed_when: False

- name: Prepare the facts dir
  file:
    path: /etc/ansible/facts.d
    state: directory

- name: Set Python version fact
  ini_file:
    path: /etc/ansible/facts.d/python.fact
    section: py3
    option: version
    value: "{{ _python3_version_result.stdout | trim }}"
  register: fact_ini

- name: Re-read facts after adding custom fact
  ansible.builtin.setup:
    filter: ansible_local
  when: fact_ini.changed

- name: configure fedora-messaging to point at tinystage rabbitmq
  lineinfile:
    path: /etc/fedora-messaging/config.toml
    regexp: "amqp_url = \"amqp://\""
    line: "amqp_url = \"amqp://fedoramessages:fedoramessages@tinystage.tinystage.test\"" # gitleaks:allow

# Without this, vagrant sshfs can fail when there are many vagrant VMs running at the same time
- name: allow more auth tries in sshd
  copy:
    src: 10-vagrant-maxauthtries.conf
    dest: /etc/ssh/sshd_config.d/60-vagrant-maxauthtries.conf
    mode: 0644

- name: Install the synced-folder systemd unit file
  copy:
    src: synced-folder@.service
    dest: /etc/systemd/system/synced-folder@.service
    owner: root
    group: root
    mode: 0644
    
- name: set git to ignore safety warnings added in git 2.36 https://github.blog/2022-04-18-highlights-from-git-2-36/#stricter-repository-ownership-checks 
  command: git config --global --add safe.directory '*'
  become_user: vagrant
