- name: Install RabbitMQ packages
  package:
      name: "{{ item }}"
      state: present
  with_items:
      - checkpolicy
      - policycoreutils-python-utils
      - rabbitmq-server
      - fedora-messaging

# SELinux
- name: copy policy module
  copy:
    src: local-rabbitmq.te
    dest: /root/local-rabbitmq.te

- name: compile policy module
  command: checkmodule -o local-rabbitmq.mod -m -M /root/local-rabbitmq.te
  args:
    creates: local-rabbitmq.mod

- name: package policy module
  command: semodule_package -o local-rabbitmq.pp -m local-rabbitmq.mod
  args:
    creates: local-rabbitmq.pp

- name: install policy module
  command: semodule -i local-rabbitmq.pp
  args:
    creates: /var/lib/selinux/targeted/active/modules/400/local-rabbitmq/

- name: Create RabbitMQ systemd override directory
  file:
    path: /etc/systemd/system/rabbitmq-server.service.d/
    state: directory

- name: Override file limit on rabbitmq
  copy:
    content: "[Service]\nLimitNOFILE={{rabbitmq_cluster_file_limit}}\n"
    dest: /etc/systemd/system/rabbitmq-server.service.d/override.conf
  notify:
    - reload rabbitmq

- name: Override rabbitmq hostname
  copy:
    content: "HOSTNAME=localhost"
    dest: /etc/rabbitmq/rabbitmq-env.conf
    mode: 0644
  notify:
    - reload rabbitmq

- name: Start rabbitmq
  service:
    name: rabbitmq-server
    state: started
    enabled: yes

- name: Enables the rabbitmq management and SSL authentication plugins
  rabbitmq_plugin:
    names: rabbitmq_management,rabbitmq_auth_mechanism_ssl
  notify:
    - reload rabbitmq

- name: Ensure default vhost exists
  rabbitmq_vhost:
    name: /
    state: present

- name: Create a guest user in RabbitMQ
  rabbitmq_user:
    user: guest
    password: guest
    tags: administrator
    vhost: /
    configure_priv: .*
    read_priv: .*
    write_priv: .*
    state: present
