---
- name: Install IPA client packages
  package:
    name:
      - freeipa-client
    state: present
  tags:
    - ipa/client
    - packages

- name: Enroll system as IPA client
  command: ipa-client-install --hostname ipaclient.tinystage.test --domain tinystage.test --realm {{ krb_realm }} --server ipa.tinystage.test -p {{ ipa_admin_user }} -w {{ ipa_admin_password }} --unattended --no-ntp --force-join --mkhomedir
  args:
    creates: /etc/ipa/default.conf
  tags:
    - ipa/client
    - config

- name: Basic configuration for client on IPA cluster
  delegate_to: freeipa
  import_tasks: common.yml
  tags:
    - ipa/client
    - config

- name: Configure HBAC on IPA cluster
  delegate_to: freeipa
  import_tasks: hbac.yml
  tags:
    - ipa/client
    - config

- name: Configure sudo via IPA
  delegate_to: freeipa
  import_tasks: sudo.yml
  tags:
    - ipa/client
    - config
