---
- name: Install RPM packages
  dnf:
    name:
      - python3-flask
      - python3-flask-oidc
      - python3-munch
      - ipa-client
    state: present

- name: Install the .bashrc
  copy:
    src: .bashrc
    dest: /home/vagrant/.bashrc
    mode: 0644
    owner: vagrant
    group: vagrant

- name: Enroll system as IPA client
  shell:
    cmd: ipa-client-install --hostname oidctest.tinystage.test --domain tinystage.test --realm {{ krb_realm }} --server ipa.tinystage.test -p {{ ipa_admin_user }} -w {{ ipa_admin_password }} -U -N --force-join
    creates: /etc/ipa/default.conf

- name: Generate and get SSL cert
  shell:
    cmd: ipa-getcert request -f /etc/pki/tls/certs/server.pem -k /etc/pki/tls/private/server.key -K HTTP/oidctest.tinystage.test
    creates: /etc/pki/tls/certs/server.pem

- name: Check the cert is there
  wait_for:
    path: /etc/pki/tls/certs/server.pem
    state: present

- name: Check the key is there
  wait_for:
    path: /etc/pki/tls/private/server.key
    state: present

- name: install oidc_register with pip
  pip:
    name: oidc-register

# not sure of how to do this another way, but without this, oidc_register fails
- name: Get the content of the CA cert
  slurp:
    src: /etc/ipa/ca.crt
  register: ca_crt
- name: Put tinystage root CA in the list of CA's for httplib2
  blockinfile:
    block: "{{ ca_crt.content | b64decode }}"
    path: /usr/lib/python{{ py3ver }}/site-packages/httplib2/cacerts.txt

- name: register the application with oidc-register
  shell:
    cmd: oidc-register --debug https://ipsilon.tinystage.test/idp/openidc/ https://oidctest.tinystage.test/oidc_callback
    creates: /home/vagrant/client_secrets.json
  become: yes
  become_user: vagrant
  args:
    chdir: /home/vagrant/

- name: Install the app.py
  copy:
    src: app.py
    dest: /home/vagrant/app.py
    mode: 0644
    owner: vagrant
    group: vagrant

- name: Install the systemd unit files for oidctest services
  copy:
      src: "{{ item }}"
      dest: /etc/systemd/system/{{ item }}
      mode: 0644
  with_items:
      - oidctest.service

- name: Start oidctest service using systemd
  systemd:
    state: started
    name: oidctest
    daemon_reload: yes
    enabled: yes

