---
# Vagrant adds '127.0.0.1 ipa.tinystage.test ipa' as the first line in /etc/hosts
# and freeipa doesnt like that, so we remove it
- name: Tweak /etc/hosts
  lineinfile:
    path: /etc/hosts
    regexp: >
      127\.0\.0\.1 *.*\.test.*
    state: absent

- name: Install RPM packages
  dnf:
    name:
      - git
      - vim
      - freeipa-server
      - python-freeipa
      - python-faker
    state: present

# Use a timestamp to avoid confusing browsers when SSL certs have the same serial:
# https://listman.redhat.com/archives/freeipa-users/2015-September/msg00298.html
#
- name: install freeipa server
  shell: umask 022; ipa-server-install -a {{ ipa_admin_password }} --hostname=ipa.tinystage.test -r {{ krb_realm }} -p {{ krb_master_password }} -n tinystage.test -U --subject 'O={{ krb_realm }} {{ ansible_date_time.iso8601_basic }}'
  args:
    creates: /etc/ipa/default.conf

- name: get freeipa-fas
  git:
    repo: https://github.com/fedora-infra/freeipa-fas.git
    dest: /home/vagrant/freeipa-fas

- name: install freeipa-fas
  command: ./install.sh
  args:
    chdir: /home/vagrant/freeipa-fas/
    creates: /usr/share/ipa/schema.d/89-fasschema.ldif

- name: kinit
  shell: echo "{{ ipa_admin_password }}" | kinit admin@{{ krb_realm }}

- name: Remove the admin account's expiration date
  command: ipa user-mod admin --setattr krbPasswordExpiration=

- name: kdestroy
  command: kdestroy -A

- name: create backup of clean FreeIPA server data
  shell: |
    ipa-backup
    # ipa-backup creates the backup with a datetime in the dirname. Here
    # we just copy it to *-clean so we can reference it easier in the
    # bash alias.
    mv /var/lib/ipa/backup/ipa-full* /var/lib/ipa/backup/backup-clean
  args:
    creates: /var/lib/ipa/backup/backup-clean

- name: Install the bashrc
  template:
      src: bashrc
      dest: /etc/profile.d/vagrant-freeipa.sh
      mode: 0644
      owner: root
      group: root

- name: copy the create data script
  template:
      src: create_dummy_data.py
      dest: /home/vagrant/create_dummy_data.py
      mode: 0644
      owner: vagrant
      group: vagrant

- name: create dummy data
  shell: python create_dummy_data.py > dummy-data.log
  args:
    chdir: /home/vagrant/
    creates: dummy-data.log
