---
- name: Install RPM packages
  dnf:
    # enablerepo: updates-testing
    name:
      - ipsilon
      - ipsilon-tools-ipa
      - ipsilon-saml2
      - ipsilon-openid
      - ipsilon-openidc
      - ipsilon-authgssapi
      - ipsilon-authpam
      - ipsilon-infofas
      - ipsilon-theme-Fedora
      - httpd
      - krb5-workstation
      - fasjson-client
      - sqlite
      - openssl
      - git
      - patch
    state: present

- name: Install the bashrc
  copy:
    src: bashrc
    dest: /etc/profile.d/vagrant-ipsilon.sh
    mode: 0644
    owner: root
    group: root

- name: Download Fedora-specific code
  git:
    repo: https://pagure.io/fedora-infra/ipsilon-fedora.git
    dest: /opt/ipsilon-fedora
    force: yes

- name: Install Fedora-specific code
  command:
    cmd: ./install.sh
    chdir: /opt/ipsilon-fedora
    creates: /usr/lib/python{{ ansible_local["python"]["py3"]["version"] }}/site-packages/ipsilon/providers/openidc/plugins/account-scopes.py

- name: install ipsilon
  command:
    cmd:  ipsilon-server-install
          --ipa=yes
          --secure no
          --server-debugging
          --admin-user={{ ipa_admin_user }}
          --openidc=yes
          --openid=yes
          --saml2=yes
          --gssapi=yes
          --gssapi-httpd-keytab=/etc/httpd/conf/ipsilon.keytab
          --pam=yes
          --info-sssd=yes
    creates: /etc/ipsilon/idp/ipsilon.conf

- import_tasks: patches.yml

- name: overwrite ipsilon configuration
  copy:
    src: "ipsilon.conf"
    dest: "/etc/ipsilon/idp/ipsilon.conf"
    owner: ipsilon
    group: ipsilon
    mode: 0600

- name: kinit for Ipsilon
  shell: echo "{{ ipa_admin_password }}" | kinit {{ ipa_admin_user }}@{{ krb_realm }}

- name: Create the vhost in IPA
  import_role:
    name: ipa-vhost
  vars:
    app_name: ipsilon

# the configuration.conf template uses this to populate
# the openidc keyid
- name: get openidc key
  ansible.builtin.slurp:
    src: /var/lib/ipsilon/idp/openidc/openidc.key
  register: openidckey

- name: copy ipsilon admin configuration
  template:
    src: "configuration.conf"
    dest: "/etc/ipsilon/idp/configuration.conf"
    owner: ipsilon
    group: ipsilon
    mode: 0600

- name: Tune SELinux Policy
  seboolean:
    name: "{{ item }}"
    state: yes
    persistent: yes
  with_items:
    - httpd_can_connect_ldap
    - httpd_can_network_connect
    - httpd_use_fusefs

- name: Copy the Apache config
  template:
    src: httpd.conf
    dest: /etc/ipsilon/idp/idp.conf
  notify:
    - restart httpd

- name: Set ipsilon theme to fedora
  lineinfile:
    path: /etc/ipsilon/idp/ipsilon.conf
    insertafter: 'template_dir = "templates"'
    line: 'theme_dir = "/usr/share/ipsilon/themes/Fedora"'

- name: Set CORS
  copy:
    src: cors.conf
    dest: /etc/httpd/conf.d/cors.conf

- name: Allow apache to access the public directory
  file:
    path: /var/lib/ipsilon/idp
    group: apache
    mode: g+x
    state: directory

- name: Allow access to the public directory
  file:
    path: /var/lib/ipsilon/idp/public
    mode: a+rX
    state: directory
    recurse: yes

- name: Make IPA's cert available publicly
  copy:
    src: /etc/ipa/ca.crt
    dest: /var/www/html/ca.crt
    remote_src: yes

- name: add the alias to /etc/hosts
  lineinfile:
    path: /etc/hosts
    line: "127.0.1.2 ipsilon.tinystage.test ipsilon"

- name: Enable and restart Apache
  systemd:
    state: restarted
    name: httpd
    enabled: yes
    daemon_reload: yes
