---
- name: Install RPM packages
  dnf:
    name:
      - python3-flask
      - python3-flask-oidc
      - python3-munch
      - ipa-client
    state: present

- name: Install the .bashrc
  copy:
    src: .bashrc
    dest: /home/vagrant/.bashrc
    mode: 0644
    owner: vagrant
    group: vagrant

- name: Enroll system as IPA client
  shell: ipa-client-install --hostname openidtest.tinystage.test --domain tinystage.test --realm {{ krb_realm }} --server ipa.tinystage.test -p {{ ipa_admin_user }} -w {{ ipa_admin_password }} -U -N --force-join

- name: Generate and get SSL cert
  shell: ipa-getcert request -f /etc/pki/tls/certs/server.pem -k /etc/pki/tls/private/server.key -K HTTP/openidtest.tinystage.test

- name: install oidc_register with pip
  pip:
    name: oidc-register

# not sure of how to do this another way, but without this, oidc_register fails
- name: Put tinystage root CA in the list of CA's for httplib2
  shell: cat /etc/ipa/ca.crt >> /usr/lib/python3.8/site-packages/httplib2/cacerts.txt

- name: register the application with oidc-register
  shell: oidc-register --debug https://ipsilon.tinystage.test/idp/openidc/ https://openidtest.tinystage.test/
  become: yes
  become_user: vagrant
  args:
    chdir: /home/vagrant/

- name: Install the app.py
  copy:
    src: app.py
    dest: /home/vagrant/app.py
    mode: 0644
    owner: vagrant
    group: vagrant

- name: Install the systemd unit files for openidtest services
  copy:
      src: "{{ item }}"
      dest: /etc/systemd/system/{{ item }}
      mode: 0644
  with_items:
      - openidtest.service

- name: Start openidtest service using systemd
  systemd:
    state: started
    name: openidtest
    daemon_reload: yes
    enabled: yes

