[Unit]
Description=test-auth
After=network-online.target
Wants=network-online.target

[Service]
Environment=FLASK_DEBUG=1
Environment=TESTAUTH_SETTINGS=/home/vagrant/config.py
User=root
WorkingDirectory=/home/vagrant
ExecStart=gunicorn -b 0.0.0.0:443 --certfile /etc/pki/tls/certs/server.pem --keyfile /etc/pki/tls/private/server.key test_auth:application

[Install]
WantedBy=multi-user.target
